/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    border-radius: 20px;
    font-family: Arial, sans-serif;
    color: #333;
    background-color: black;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    font-size: 17px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline;
    margin-right: 10px;
}

header nav ul li a {
    text-decoration: none;
    color: #fff;
    margin-bottom: 10px;
    font-size: smaller;
}

.banner {
    background-image: url('sign.png');
    background-size: cover;
    background-position: left;
    text-align: right;
    padding: 100px 20px;
    color: #fff;
}

.banner h2 {
    font-size: 2px;
    margin-bottom: 40px;
}

.banner p {
    font-size: 18px;
    margin-bottom: 20px;
}

#ion-icon {
    position: absolute;
    top: 30px;
    right: 125px;
    height: 30px;
    width: 30px;
    background-color: transparent;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.theme {
    background-color: #fff;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.logo {
    width: 120px;
    /* Adjust the width as needed */
    height: auto;
    /* Automatically adjust the height to maintain aspect ratio */
    margin-left: 10px;
    /* Add some spacing to the right of the logo */
    margin-right: 300px;
}

.rounded-image {
    border-radius: 20px;
    /* Adjust the value to control the roundness of the border */
    margin-left: 200px;
}

.custom-hr {
    border: none;
    height: 1px;
    background-color: aliceblue;
}

.box {
    border: 1px solid #ffff;
    border-radius: 10px;
    padding: 20px;
    margin-right: 10px;
    margin-left: 20px;
    display: inline-block;
    vertical-align: auto;
    /* Align boxes from the top */
    width: fit-content;
    /* Adjust the width to fit two boxes side by side with margin */
    box-sizing: border-box;
    /* Include padding and border in the width */
}

.box:last-child {
    margin-right: 0;
    /* Remove right margin for the last box */
}

.h1 {
    color: aliceblue;
    margin-left: 10px;
}

.u {
    color: aliceblue;
    margin-top: auto;
}

.songs {
    background-color: black;
}

.song-box {
    border: 1px solid;
    border-radius: 10px;
    padding: 10px;
    margin-right: 20px;
    margin-left: 40px;
    display: inline-block;
    vertical-align: auto;
    /* Align boxes from the top */
    width: fit-content;
    /* Adjust the width to fit two boxes side by side with margin */
    box-sizing: border-box;
    /* Include padding and border in the width */
}

.song {
    border-radius: 10px;
}

.h2 {
    color: whitesmoke;
    margin-left: 80px;
}

.h3 {
    color: whitesmoke;
}

.h4 {
    color: whitesmoke;
    position: absolute;
    top: 215px;
    left: 15%;
    right: 1%;
    transform: translateX(-30%);
}


.h5 {
    color: whitesmoke;
    position: absolute;
    top: 320px;
    left: 30%;
    right: 1%;
    transform: translateX(-30%);
}


.hover a {
    position: relative;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    left: 50px;
}

.hover a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 2px;
    background: #fff;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .3s;
    transform-origin: right;
}

.hover a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}
.cards{
    position: relative;
    border: 2px solid whitesmoke;
    width: 30%;
    height: 50px;
    border-radius: 6px;
    margin-left: 10px;
    left: 33%;
}
.music-icon{
    position: relative;
    font-size: 3em;
    background-color: transparent;
    display: flex;
    align-items: center;
    margin: 7px 22px;
    margin-top: 5px;
}

.cards p {
    position: relative;
    display: flex;
    justify-content: center;
    top: -80%;
    font-size: 1.5em;
    left: -2%;
}

.play-icon{
    font-size: 3em;
    background-color: transparent;
    display: flex;
    align-items: center;
    top: -141%;
    left: 80%;
    cursor: pointer;
    position: relative;
}
.marquee {
    border-radius: 10px;
    margin-left: 3.7px;
    margin-right: 0px;
    margin-top: 3px;
}
.playbar{
    position: sticky;
    background-color: #666;
    width: 99%;
    height: 50px;
    margin-top: 24%;
    border-radius: 10px;
    margin-left: 7px;
}
.playbar-play-icon{
    font-size: 3.7em;
    background-color: transparent;
    top: 8%;
    left: 42%;
    cursor: pointer;
    position: relative;
}
.sr-box {
    border: 1px solid #ffff;
    border-radius: 10px;
    padding: 10px;
    margin-right: 1px;
    margin-left: 65%;
    display: inline-block;
    vertical-align: auto;
    /* Align boxes from the top */
    width: fit-content;
    /* Adjust the width to fit two boxes side by side with margin */
    box-sizing: border-box;
    /* Include padding and border in the width */
}

.text {
    margin-right: 45%;
    margin-top: 10px;
    margin-bottom: 100px;
    margin-left: 10px;
    left: 10%;
    bottom: 500px;
    color: #ffff;
    font-size: 48;
    align-items: center;
    position: absolute;
    top: 28%;
}

.h6 {
    position: absolute;
    top: 22%;
    left: 10%;
    bottom: -100px;
    width: 30%;
    height: 3px;
    background: #fff;
    border-radius: 10px;
    align-items: baseline;
}

.sr-box2 {
    border: 1px solid #ffff;
    border-radius: 10px;
    padding: 10px;
    margin-right: 60%;
    margin-left: 1px;
    display: inline-block;
    vertical-align: auto;
    /* Align boxes from the top */
    width: fit-content;
    /* Adjust the width to fit two boxes side by side with margin */
    box-sizing: border-box;
    /* Include padding and border in the width */
    margin-top: 7%;
}

.text2 {
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 100px;
    margin-left: 50%;
    right: 10%;
    bottom: 500px;
    color: #ffff;
    align-items: center;
    position: absolute;
    top: 80%;
}

.h7 {
    position: absolute;
    top: 60%;
    left: 5%;
    bottom: -100px;
    width: 20%;
    height: 3px;
    background: #fff;
    border-radius: 10px;
    align-items: baseline;
    margin-left: 45%;
    margin-top: 7%;
}

.sr-box3 {
    border: 1px solid #ffff;
    border-radius: 10px;
    padding: 10px;
    margin-right: 1px;
    margin-left: 65%;
    display: inline-block;
    vertical-align: auto;
    /* Align boxes from the top */
    width: fit-content;
    /* Adjust the width to fit two boxes side by side with margin */
    box-sizing: border-box;
    /* Include padding and border in the width */
    margin-top: 10%;

}

.text3 {
    margin-right: 45%;
    margin-top: 10px;
    margin-bottom: 100px;
    margin-left: 10px;
    left: 10%;
    bottom: 500px;
    color: #ffff;
    font-size: 48;
    align-items: center;
    position: absolute;
    top: 160%;
}

.h8 {
    position: absolute;
    top: 155%;
    left: 10%;
    bottom: -100px;
    width: 20%;
    height: 3px;
    background: #fff;
    border-radius: 10px;
    align-items: baseline;
}

.sr-box4 {
    border: 1px solid #ffff;
    border-radius: 10px;
    padding: 10px;
    margin-right: 60%;
    margin-left: 1px;
    display: inline-block;
    vertical-align: auto;
    /* Align boxes from the top */
    width: fit-content;
    /* Adjust the width to fit two boxes side by side with margin */
    box-sizing: border-box;
    /* Include padding and border in the width */
    margin-top: 6%;
}

.text4 {
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 100px;
    margin-left: 50%;
    right: 10%;
    bottom: 500px;
    color: #ffff;
    align-items: center;
    position: absolute;
    top: 220%;
}

.h9 {
    position: absolute;
    top: 200%;
    left: 5%;
    bottom: -100px;
    width: 35%;
    height: 3px;
    background: #fff;
    border-radius: 10px;
    align-items: baseline;
    margin-left: 45%;
    margin-top: 7%;
}

.sr-box5 {
    border: 1px solid #ffff;
    border-radius: 10px;
    padding: 10px;
    margin-right: 10px;
    margin-left: 58%;
    display: inline-block;
    vertical-align: auto;
    /* Align boxes from the top */
    width: fit-content;
    /* Adjust the width to fit two boxes side by side with margin */
    box-sizing: border-box;
    /* Include padding and border in the width */
    margin-top: 8%;

}

.text5 {
    margin-right: 45%;
    margin-top: 10px;
    margin-bottom: 100px;
    margin-left: 10px;
    left: 10%;
    bottom: 500px;
    color: #ffff;
    font-size: 48;
    align-items: center;
    position: absolute;
    top: 290%;
}

.h10 {
    position: absolute;
    top: 285%;
    left: 10%;
    bottom: -100px;
    width: 48%;
    height: 3px;
    background: #fff;
    border-radius: 10px;
    align-items: baseline;
}

.sr-box6 {
    border: 1px solid #ffff;
    border-radius: 10px;
    padding: 10px;
    margin-right: 60%;
    margin-left: 1px;
    display: inline-block;
    vertical-align: auto;
    /* Align boxes from the top */
    width: fit-content;
    /* Adjust the width to fit two boxes side by side with margin */
    box-sizing: border-box;
    /* Include padding and border in the width */
    margin-top: 6%;
}

.text6 {
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 100px;
    margin-left: 50%;
    right: 10%;
    bottom: 500px;
    color: #ffff;
    align-items: center;
    position: absolute;
    top: 340%;
}

.h11 {
    position: absolute;
    top: 322%;
    left: 5%;
    bottom: -100px;
    width: 45%;
    height: 3px;
    background: #fff;
    border-radius: 10px;
    align-items: baseline;
    margin-left: 45%;
    margin-top: 7%;
}

.sr-box7 {
    border: 1px solid #ffff;
    border-radius: 10px;
    padding: 10px;
    margin-right: 10px;
    margin-left: 58%;
    display: inline-block;
    vertical-align: auto;
    /* Align boxes from the top */
    width: fit-content;
    /* Adjust the width to fit two boxes side by side with margin */
    box-sizing: border-box;
    /* Include padding and border in the width */
    margin-top: 8%;

}

.text7 {
    margin-right: 45%;
    margin-top: 10px;
    margin-bottom: 100px;
    margin-left: 10px;
    left: 10%;
    bottom: 500px;
    color: #ffff;
    font-size: 48;
    align-items: center;
    position: absolute;
    top: 410%;
}

.h12 {
    position: absolute;
    top: 405%;
    left: 10%;
    bottom: -100px;
    width: 48%;
    height: 3px;
    background: #fff;
    border-radius: 10px;
    align-items: baseline;
}

.sr-box8 {
    border: 1px solid #ffff;
    border-radius: 10px;
    padding: 10px;
    margin-right: 60%;
    margin-left: 1px;
    display: inline-block;
    vertical-align: auto;
    /* Align boxes from the top */
    width: fit-content;
    /* Adjust the width to fit two boxes side by side with margin */
    box-sizing: border-box;
    /* Include padding and border in the width */
    margin-top: 7%;
}

.text8 {
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 100px;
    margin-left: 50%;
    right: 10%;
    bottom: 500px;
    color: #ffff;
    align-items: center;
    position: absolute;
    top: 470%;
}

.h13 {
    position: absolute;
    top: 452%;
    left: 5%;
    bottom: -100px;
    width: 45%;
    height: 3px;
    background: #fff;
    border-radius: 10px;
    align-items: baseline;
    margin-left: 45%;
    margin-top: 7%;
}

.sr-box9 {
    border: 1px solid #ffff;
    border-radius: 10px;
    padding: 10px;
    margin-right: 10px;
    margin-left: 58%;
    display: inline-block;
    vertical-align: auto;
    /* Align boxes from the top */
    width: fit-content;
    /* Adjust the width to fit two boxes side by side with margin */
    box-sizing: border-box;
    /* Include padding and border in the width */
    margin-top: 8%;

}

.text9 {
    margin-right: 45%;
    margin-top: 10px;
    margin-bottom: 100px;
    margin-left: 10px;
    left: 10%;
    bottom: 500px;
    color: #ffff;
    font-size: 48;
    align-items: center;
    position: absolute;
    top: 540%;
}

.h14 {
    position: absolute;
    top: 535%;
    left: 10%;
    bottom: -100px;
    width: 48%;
    height: 3px;
    background: #fff;
    border-radius: 10px;
    align-items: baseline;
}

.film {
    border-radius: 10px;
    margin-left: 10px;
    top: 40%;
}

.h-f {
    position: absolute;
    top: 38%;
    left: 15%;
    bottom: -100px;
    width: 68%;
    height: 3px;
    background: #fff;
    border-radius: 10px;
    align-items: baseline;

}

.Pa {
    background-color: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    /* Overlaying a semi-transparent gradient on top of the GIF */
    background-size: cover;
    background-size: cover;
    /* Adjust as needed */
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.btn-wn {
    width: 170px;
    height: 80px;
    background: transparent;
    border: 2px solid #ffff;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.5em;
    color: #fff;
    font-weight: 500;
    margin-left: 65%;
    transition: .5s;
    margin-top: 1px;
    position: absolute;
    top: 57%;
    /* Distance from the top */
    /* Center the button horizontally */
    transform: translateX(-50%);
    /* Adjust for the button's width */
    z-index: 1000
}

.btn-wn:hover {
    background: #fff;
    color: #000000;
}

.h15 {
    color: whitesmoke;
    margin-left: 58%;
    position: absolute;
    top: 20%;
    bottom: -100px;
    width: 25%;
    height: 3px;
    background: #fff;
    border-radius: 10px;
    align-items: baseline;
}

.pp {
    border: 1px solid #ffff;
    border-radius: 10px;
    padding: 10px;
    margin-right: 60%;
    margin-left: 5px;
    display: inline-block;
    vertical-align: auto;
    /* Align boxes from the top */
    width: fit-content;
    /* Adjust the width to fit two boxes side by side with margin */
    box-sizing: border-box;
    /* Include padding and border in the width */
    margin-top: 10px;
}

.pp1 {
    border: 1px solid #ffff;
    border-radius: 10px;
    padding: 10px;
    margin-right: 40%;
    margin-left: 15%;
    display: inline-block;
    vertical-align: auto;
    /* Align boxes from the top */
    width: fit-content;
    /* Adjust the width to fit two boxes side by side with margin */
    box-sizing: border-box;
    /* Include padding and border in the width */
    margin-top: 10px;
}

.section {
    background: #000000;
    vertical-align: middle;
    top: 10%;
}

.text-pp {
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 100px;
    margin-left: 45%;
    left: 10%;
    bottom: 500px;
    color: #ffff;
    font-size: 48;
    align-items: center;
    position: absolute;
    top: 27%;
}

.vertical-line {
    width: 5px;
    /* Adjust the width of the line */
    height: 8cm;
    /* Adjust the height of the line */
    border-radius: 10px;
    background-color: whitesmoke;
    /* Adjust the color of the line */
    margin-left: 40%;
    /* Optional: Add margin for spacing */
    margin-right: 1px;
    position: absolute;
    top: 20%;
    /* Distance from the top */
    /* Center the button horizontally */
    transform: translateX(-50%);
    /* Adjust for the button's width */
    z-index: 1000
}

.vertical-line1 {
    width: 5px;
    /* Adjust the width of the line */
    height: 7cm;
    /* Adjust the height of the line */
    border-radius: 10px;
    background-color: whitesmoke;
    /* Adjust the color of the line */
    margin-left: 120px;
    /* Optional: Add margin for spacing */
    margin-right: 50%;
    position: absolute;
    top: 80%;
    /* Distance from the top */
    /* Center the button horizontally */
    transform: translateX(-50%);
    /* Adjust for the button's width */
    z-index: 1000
}

.vertical-line2 {
    width: 5px;
    /* Adjust the width of the line */
    height: 6.8cm;
    /* Adjust the height of the line */
    border-radius: 10px;
    background-color: whitesmoke;
    /* Adjust the color of the line */
    margin-left: 500px;
    /* Optional: Add margin for spacing */
    margin-right: 50%;
    position: absolute;
    top: 20%;
    /* Distance from the top */
    /* Center the button horizontally */
    transform: translateX(-50%);
    /* Adjust for the button's width */
    z-index: 1000
}

.vertical-line3 {
    width: 5px;
    /* Adjust the width of the line */
    height: 6.8cm;
    /* Adjust the height of the line */
    border-radius: 10px;
    background-color: whitesmoke;
    /* Adjust the color of the line */
    margin-left: 120px;
    /* Optional: Add margin for spacing */
    margin-right: 50%;
    position: absolute;
    top: 70%;
    /* Distance from the top */
    /* Center the button horizontally */
    transform: translateX(-50%);
    /* Adjust for the button's width */
    z-index: 1000
}

.film {
    transition: box-shadow 0.3s ease-in-out;
}

.film:hover {
    box-shadow: 0 0 20px 5px rgb(255, 255, 255);
    /* Yellow glow */
}

.btn-login {
    width: 70px;
    height: 45px;
    background: transparent;
    border: 2px solid #ffff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #ffff;
    font-weight: 500;
    align-items: center;
}

.btn-login:hover {
    background: #ffff;
    color: #000000;
}


.Login {
    background: linear-gradient(270deg, #da0505, #7700ff, #2b86c5, #0b8606, #044509);
    background-size: 400% 400%;
    animation: gradientAnimation 10s ease-in-out infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.section2 {
    transition: 2s ease-out;
}

.wrapper {
    position: absolute;
    width: 400px;
    height: 450px;
    background: transparent;
    border: 3px solid #ffff;
    border-radius: 20px;
    display: none;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(50px);
    overflow: hidden;
    transition: transform .5s ease, height .2s ease;
    transform: scale(0);
    left: 33%;
    top: 17.6%;
    margin-bottom: 10px;
    z-index: 1000;
    animation: popup .5s;
}

@keyframes popup{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}
.wrapper.active {
    height: 520px;
}

.wrapper.active-popup {
    transform: scale(1);
}

.wrapper .form-box.login {
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper.active .form-box.login {
    transition: none;
    transform: translateX(-400px);
}

.wrapper.active .form-box.register {
    position: absolute;
    transition: none;
    transform: translateX(400px);
    transform: translateY(-400px);
}

.wrapper .form-box.register {
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.form-box h2 {
    font-size: 2em;
    color: #666;
    text-align: center;
}

.input-box {
    position: relative;
    width: 320px;
    height: 50px;
    border-bottom: 2px solid #ffff;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    pointer-events: none;
    color: #ffff;
    transition: .2s ease-out;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #ffff;
    padding: 0 27px 0 10px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    color: #ffff;
    font-size: 1.2em;
    line-height: 57px;
}

.remember-forgot {
    margin: -15px 0 15px;
    font-size: .9em;
    color: #ffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.remember-forgot label input {
    accent-color: #fff;
    margin-right: 3px;
}

.remember-forgot a {
    color: #ffff;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.button1 {
    width: 100%;
    height: 45px;
    background: transparent;
    border: 2px solid #ffff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #ffff;
    font-weight: 500;
    align-items: center;
}

.button1:hover {
    background: #ffff;
    color: #000000;
}

.login-register {
    font-size: .9em;
    color: whitesmoke;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a {
    color: whitesmoke;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover {
    text-decoration: underline;
}

.wrapper .iconClose {
    position: absolute;
    top: 0;
    right: 0;
    height: 45px;
    width: 45px;
    background-color: #fff;
    font-size: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
}

.wrapper .iconClose:hover {
    background-color: #000000;
    color: #fff;
}

.design {
    position: absolute;
    width: 150px;
    height: 150px;
    background: linear-gradient(180deg, rgba(47, 184, 255, .42)31.77%, #7700ff) 100%;
    border-radius: 50%;
    transform: translate(100px, 50px) rotate(-90deg);
    transition: 1s cubic-bezier(.07, .8, .16, 1);
    animation: animateBlob 5s infinite alternate;
    top: 8%;
    animation-duration: 1s;
}

.design1 {
    position: absolute;
    width: 150px;
    height: 150px;
    background: linear-gradient(180deg, rgba(47, 184, 255, .42)31.77%, #7ec308) 100%;
    border-radius: 50%;
    ;
    transition: 1s cubic-bezier(.07, .8, .16, 1);
    animation: animateBlob1 5s infinite alternate-reverse;
    top: 70%;
    margin-left: 27%;
    animation-duration: 1s;
}

@keyframes animateBlob {
    0% {
        transform: translate(300px, 50px) rotate(90deg);
        border-radius: 50%;
    }

    100% {
        transform: translate(750px, 50px) rotate(90deg);
        border-radius: 50%;
    }
}

@keyframes animateBlob1 {
    0% {
        transform: translate(10px, 50px) rotate(-90deg);
        border-radius: 50%;
    }

    100% {
        transform: translate(375px, 50px) rotate(-90deg);
        border-radius: 50%;
    }
}

.feluda {
    border-radius: 20px;
    margin-left: 10px;
}

.feluda img {
    border-radius: 10px;
    margin-left: 10px;
}

.feluda p {
    color: #fff;
    font-size: 1em;
    text-decoration: none;
    text-align: center;
    margin-right: 80%;
    margin-left: 10px;
    font-weight: 500;
    position: absolute;
}

.slider-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    transition: .5s ease-in;
    border-radius: 20px;
}

.slider {
    --slide-width: clamp(320px, 75vw, 800px);
    --slide-height: clamp(240px, 75vh, 600px);

    display: grid;
    grid-auto-flow: column;
    scroll-snap-type: x mandatory;
    max-width: var(--slide-width);
    border: 1px solid transparent;
    box-shadow: 0 2px 15px rgba(#000, 0.2), 0 2px 20px rgba(#000, 0.25);
    overflow-y: hidden;
    overflow-x: auto;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
    border-radius: 20px;

    &::-webkit-scrollbar {
        display: none;
    }
}

.slide {
    scroll-snap-align: start;
    width: var(--slide-width);
    height: var(--slide-height);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.dots {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    gap: 15px;
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: center;

    a {


        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #fff;
        opacity: 0.75;
        transition: opacity ease 250ms;
        cursor: pointer;

        &:hover {
            opacity: 1;
        }
    }
}

.caption {
    display: block;
    margin-top: 25px;
    color: #999;
    letter-spacing: 0.5px;
}


/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
body {
    margin: 0;
    background-color: #000;
    color: #eee;
    /* font-family: Poppins; */
    font-size: 12px;
}

a {
    text-decoration: none;
}

/* carousel */
.carousel {
    --slide-width: clamp(360px, 100vw, 850px);
    --slide-height: clamp(260px, 80vh, 600px);
    height: var(--slide-height);
    margin-top: 5px;
    width: var(--slide-width);
    overflow: hidden;
    position: relative;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 18%;
}
.carousel .list .item {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0 0 0 0;
}

.carousel .list .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow-y: hidden;
    position: absolute;
}

.carousel .list .item .content {
    position: absolute;
    top: 20%;
    width: 1140px;
    max-width: 80%;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 30%;
    box-sizing: border-box;
    color: #fff;
    text-shadow: 0 5px 10px #0004;
}

.carousel .list .item .author {
    font-weight: bold;
    letter-spacing: 10px;
}

.carousel .list .item .title,
.carousel .list .item .topic {
    font-size: 4em;
    font-weight: bold;
    line-height: 1.3em;
}

.carousel .list .item .buttons {
    display: grid;
    grid-template-columns: repeat(2, 130px);
    grid-template-rows: 40px;
    gap: 5px;
    margin-top: 20px;
}

.carousel .list .item .buttons button {
    border: 2px #000000 solid;
    width: 100px;
    height: 50px;
    background-color: #eee;
    /* font-family: Poppins; */
    cursor: pointer;
    filter: invert();
    border-radius: 6px;
}

.carousel .list .item .buttons button:nth-child(2) {
    background-color: transparent;
    border: 1px solid #fff;
    color: #eee;
}

.carousel .list .item .buttons button:hover {
    border-radius: 6px;
    border: 2px #fff solid;
    background-color: #000000;
    color: #fff;
    filter: invert();
}

/* thumbail */
.thumbnail {
    position: absolute;
    bottom: 50px;
    left: 50%;
    width: max-content;
    z-index: 100;
    display: flex;
    gap: 20px;
}

.thumbnail .item {
    width: 140px;
    height: 220px;
    flex-shrink: 0;
    position: relative;

}

.thumbnail .item img {
    width: 105%;
    height: 91%;
    object-fit: cover;
    border-radius: 20px;
}

.thumbnail .item .content {
    color: #fff;
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
}

.thumbnail .item .content .title {
    font-weight: 500;
    margin: -7px;
}

.thumbnail .item .content .description {
    font-weight: 300;
}

/* arrows */
.arrows {
    position: absolute;
    top: 80%;
    right: 52%;
    z-index: 100;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.arrows button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #eee4;
    border: none;
    color: #fff;
    font-family: monospace;
    font-weight: bold;
    transition: .5s;
}

.arrows button:hover {
    background-color: #fff;
    color: #000;
}

/* animation */
.carousel .list .item:nth-child(1) {
    z-index: 1;
}

/* animation text in first item */

.carousel .list .item:nth-child(1) .content .author,
.carousel .list .item:nth-child(1) .content .title,
.carousel .list .item:nth-child(1) .content .topic,
.carousel .list .item:nth-child(1) .content .des,
.carousel .list .item:nth-child(1) .content .buttons {
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s 1s linear 1 forwards;
}

@keyframes showContent {
    to {
        transform: translateY(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

.carousel .list .item:nth-child(1) .content .title {
    animation-delay: 1.2s !important;
}

.carousel .list .item:nth-child(1) .content .topic {
    animation-delay: 1.4s !important;
}

.carousel .list .item:nth-child(1) .content .des {
    animation-delay: 1.6s !important;
}

.carousel .list .item:nth-child(1) .content .buttons {
    animation-delay: 1.8s !important;
}

/* create animation when next click */
.carousel.next .list .item:nth-child(1) img {
    width: 150px;
    height: 220px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    border-radius: 30px;
    animation: showImage .5s linear 1 forwards;
}

@keyframes showImage {
    to {
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}

.carousel.next .thumbnail .item:nth-last-child(1) {
    overflow: hidden;
    animation: showThumbnail .5s linear 1 forwards;
}

.carousel.prev .list .item img {
    z-index: 100;
}

@keyframes showThumbnail {
    from {
        width: 0;
        opacity: 0;
    }
}

.carousel.next .thumbnail {
    animation: effectNext .5s linear 1 forwards;
}

@keyframes effectNext {
    from {
        transform: translateX(150px);
    }
}

/* running time */

.carousel .time {
    position: absolute;
    z-index: 1000;
    width: 0%;
    height: 3px;
    /* background-color: #f1683a; */
    left: 0;
    top: 0;
}

.carousel.next .time,
.carousel.prev .time {
    animation: runningTime 3s linear 1 forwards;
}

@keyframes runningTime {
    from {
        width: 100%
    }

    to {
        width: 0
    }
}


/* prev click */

.carousel.prev .list .item:nth-child(2) {
    z-index: 2;
}

.carousel.prev .list .item:nth-child(2) img {
    animation: outFrame 0.5s linear 1 forwards;
    position: absolute;
    bottom: 0;
    left: 0;
}

@keyframes outFrame {
    to {
        width: 150px;
        height: 220px;
        bottom: 50px;
        left: 50%;
        border-radius: 20px;
    }
}

.carousel.prev .thumbnail .item:nth-child(1) {
    overflow: hidden;
    opacity: 0;
    animation: showThumbnail .5s linear 1 forwards;
}

.carousel.next .arrows button,
.carousel.prev .arrows button {
    pointer-events: none;
}

.carousel.prev .list .item:nth-child(2) .content .author,
.carousel.prev .list .item:nth-child(2) .content .title,
.carousel.prev .list .item:nth-child(2) .content .topic,
.carousel.prev .list .item:nth-child(2) .content .des,
.carousel.prev .list .item:nth-child(2) .content .buttons {
    animation: contentOut 1.5s linear 1 forwards !important;
}

@keyframes contentOut {
    to {
        transform: translateY(-150px);
        filter: blur(20px);
        opacity: 0;
    }
}

@media screen and (max-width: 678px) {
    .carousel .list .item .content {
        padding-right: 0;
    }

    .carousel .list .item .content .title {
        font-size: 30px;
    }
}




